# ----------------------------------------------------------------------------------------------------------------------
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=lab
# ----------------------------------------------------------------------------------------------------------------------
MYSQL_DATABASE=lab
MYSQL_USER=lab
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
# ----------------------------------------------------------------------------------------------------------------------
AMQP_HOST=127.0.0.1
AMQP_PORT=5672
# ----------------------------------------------------------------------------------------------------------------------
RABBITMQ_DEFAULT_USER=lab
RABBITMQ_DEFAULT_PASS=password
# ----------------------------------------------------------------------------------------------------------------------
LOG_LEVEL=debug
# ----------------------------------------------------------------------------------------------------------------------
